* {
  font-family:sans-serif;
}
img {

  margin-left: 120px;
  border-left: 1px solid #a1a1a1;
  border-top: 1px solid #a1a1a1;
  border-radius: 20px;
  box-shadow: 4px 4px #a1a1a1;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-table {
  margin-top: 10px;
  border-top: 3px double #a1a1a1;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
}

button {
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
}

.buttons :hover {
  background-color: rgb(110, 107, 107);
  color: white;
  border: solid black;
  border-width: 1px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.th {
  text-align: center;
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

.td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

