* {
  font-family:sans-serif;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-div{
  background-color: #2f3640;
  display: flex;
  justify-content: center;
}
.img-item {
  background-color: white;
  box-shadow: 5px 5px 5px 2px rgb(0,0,0,0.7),
             -2px 2px 3px 3px rgb(0,0,0,0.5);
  border-radius: 5px;
  padding: 5px;
}


.table-div {
  margin:5%;
  padding: 30px 50px 30px 50px;
  background-color: #2f3640;
  border-radius: 40px;
  box-shadow: 5px 5px 5px 2px rgb(0,0,0,0.7),
             -2px 2px 3px 3px rgb(0,0,0,0.5);
}

.buttons {
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 270px;

}

button {
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
  background-color: #2f3640;
  color: white;
  box-shadow: 5px 5px 5px 2px rgb(0,0,0,0.7),
             -2px -2px 3px 3px rgb(0,0,0,0.5);
}

.buttons :hover {
  background-color: white;
  color: #2f3640;
  border: solid black;
  border-width: 1px;
}



.content-table {
  border-collapse: collapse;
  margin: 20px;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 40px;
  
}

.content-table-tbody {
  border-radius: 40px;
  box-shadow: 5px 5px 5px 2px rgb(0,0,0,0.7),
             -2px 2px 3px 3px rgb(0,0,0,0.5);
             
}


.tr {
  align-items: center;
  background-color: #2f3640;
  padding: 10px;
}

.th {
  background-color: white;
  text-align: center;
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
  
}


.td {
  background-color: white;
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}


#tr-first {
  border-top-left-radius: 40px;
  border-radius: 40px;
}
#th-first {
  border-top-left-radius: 40px;
}
#td-first {
  border-top-right-radius: 40px;
}



#tr-last {
  border-bottom-left-radius: 40px;
}

#th-last {
  border-bottom-left-radius: 40px;
  border-bottom: none;
  
}

#td-last {
  border-bottom-right-radius: 40px;
  border-bottom: none;
}
